.message{
    padding:10px;
    margin:10px;
    width:fit-content;
}
.message__user{
    margin-left:auto;
    color:white;
    text-align:right !important;
}

.message__userCard{
    background-color: blue !important;
}

.message__guestCard{
    background-color:white !important;
}
/* The close button 
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
*/
